.hide {
  display: none;
}
.show {
  display: block;
}
.parameters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.parameters p {
  font-size: 1.2rem;
  padding: 0 1.5rem;
}
