.weather {
  width: 30%;
  text-align: center;
  padding: 10px;
  background-color: aliceblue;
  border-top-left-radius: 37px 140px;
  border-top-right-radius: 23px 130px;
  border-bottom-left-radius: 110px 19px;
  border-bottom-right-radius: 120px 24px;
  box-shadow: rgb(238, 243, 248) 0px 20px 30px -10px;
}

.clear {
  background-image: url("../../images/clear\ sky.jpg");
  background-size: cover;
  color: aliceblue;
}
.mist {
  background-image: url("../../images/mist.jpg");
  background-size: cover;
}
.broken {
  background-image: url("../../images/broken\ clouds.jpg");
  background-size: cover;
  color: rgb(0, 0, 0);
  font-weight: 700;
}
.overcast {
  background-image: url("../../images/overcast\ clouds.jpg");
  background-size: cover;
}
.few {
  background-image: url("../../images/few\ clouds.jpg");
  background-size: cover;
}
.haze {
  background-image: url("../../images/haze.jpg");
  background-size: cover;
}
